body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: auto;
  background: url(../image/R.jpeg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#mainDiv {
  width: 100%;
  height: 100%
}

#loveHeart {
  float: left;
  width: 670px;
  height: 625px
}

#garden {
  width: 100%;
  height: 100%
}

#elapseClock {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px
}

#words {
  font-family: "sans-serif";
  width: 500px;
  font-size: 24px;
  color: #666
}

#messages {
  display: none
}

#elapseClock .digit {
  font-family: "digit";
  font-size: 36px
}

#loveu {
  padding: 5px;
  font-size: 22px;
  margin-top: 60px;
  margin-right: 120px;
  text-align: right;
  display: none
}

#loveu .signature {
  margin-top: 10px;
  font-size: 20px;
  font-style: italic
}

#clickSound {
  display: none
}

#code {
  float: left;
  width: 440px;
  height: 400px;
  color: #333;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
  font-size: 14px
}

#code .string {
  color: #2a36ff
}

#code .keyword {
  color: #7f0055;
  font-weight: bold
}

#code .placeholder {
  margin-left: 15px
}

#code .space {
  margin-left: 7px
}

#code .comments {
  color: #3f7f5f
}

#copyright {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  color: #666
}

#errorMsg {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 100px;
  left: 0
}

#copyright a {
  color: #eeed9f;
  text-decoration: none;
}

#photo-click a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

#photo-close a {
  color: #fff;
  text-decoration: none;
  float: right;
  margin-right: 16px;
}

#photo-close {
  height: 20px;
  background-color: #333;
}

.black_overlay {
  display: none;
  /* 此元素不会被显示*/
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  z-index: 1001;
  /* z-index 属性设置元素的堆叠顺序。*/
  opacity: .80;
  /* opacity 属性设置元素的不透明级别。*/
}

.white_content {
  display: none;
  position: absolute;
  top: 20%;
  border: 1px solid #bbbbbb;
  border-radius: 20px;
  background-color: white;
  z-index: 1002;
  /*层级要比.black_overlay高，这样才能显示在它前面*/
  overflow: auto;
}

#photo-light {
  position: absolute;
  left: 50%;
  width: 300px;
  height: 470px;
  margin-left: -150px;
}

#group-photo {
  width: 300px;
  height: 450px;
  background: url(../image/IMG_3409.JPG) no-repeat;
  background-size: 100%;
}